<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranking Quiz Feedback page</title>
</head>
<body>
<h1>Ranking Quiz 서비스를 이용해주셔서 감사합니다!</h1>
<h2>더 나은 Ranking Quiz 서비스가 되도록 노력하겠습니다.</h2>
<h3>더 좋은 Ranking Quiz 서비스가 될 수 있도록 소중한 의견을 남겨주시면 감사하겠습니다.</h3>
<div>
    <h4>새로운 기능 건의 :</h4>
    <div>사용자 입력</div>
    <div>
        <h5>예시</h5>
        <ul>내 점수를 보고 싶어요!</ul>
        <ul>내가 틀린 문제를 모아서 보고 싶어요!</ul>
        <ul>그림 문제도 있었으면 좋겠어요!</ul>
        <ul>주관식 문제도 있었으면 좋겠어요!</ul>
    </div>
</div>


<div>
    <h4>이용하면서 불편한 점 : </h4>
    <div>사용자 입력</div>
    <div>
        <h5>예시</h5>
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
    </div>
</div>
<!--<script src="/js/common/config.js"></script>-->
<script src="/js/common/config-test.js"></script>
</body>
</html>