.user-button {
    padding: 10px 20px;
    width: 100vw;
    height: 8vh;
    font-size: 10vw;
    color: white;
    background-color: #66ff66;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.user-button:hover {
    background-color: #ffcc66;
}
