#guideMessageContainer {
    left: 50%; /* 중앙 정렬을 위해 왼쪽 50% */
    background-color: rgba(0, 0, 0, 0.8); /* 반투명 배경 */
    color: white; /* 텍스트 색상 */
    font-size: 7vw;
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 부드러운 애니메이션 효과 */
}