#quizBox {
    display: flex;
    box-sizing: border-box; /* 요소의 크기를 패딩과 보더 포함하도록 설정 */
    flex-direction: column;
    flex-wrap: nowrap;
}

#quizForm {
    background-color: transparent; /* 무색으로 변경 */
    padding: 20px;
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}

#nameInput {
    padding: 5px; /* 내부 여백 */
    width: 70%;
    height: 10%;
    font-size: 80%;
}

#quizId {
    float: left;
    box-sizing: border-box;
    font-size: 0%
}

#quizStatement {
    float: left;
    margin: 0px 5%;
    width: 80%;
    height: 30%;
    box-sizing: border-box;
    font-size: 100%; /* 뷰포트 너비에 따라 글자 크기 조정 */
    text-align: center; /* 중앙 정렬 */
}

#countdown {
    font-size: 200%;
    float: right;
    width: 10%;
    box-sizing: border-box;
}

#optionsContainer {
    background: linear-gradient(135deg, #00b09b, #96c93d); /* 무색으로 변경 */
    width: 90%; /* 화면 전체 넓이의 90% */
    height: 100%; /* 화면 전체 높이의 50% */
    display: grid; /* 그리드 레이아웃 사용 */
    grid-template-columns: repeat(2, 1fr); /* 3개의 열, 각 열은 동일한 비율 */
    grid-template-rows: repeat(2, 1fr); /* 3개의 행, 각 행은 동일한 비율 */
    gap: 5px; /* 요소 간의 간격 (필요시 조정) */
    justify-items: center; /* 각 그리드 아이템의 수평 중앙 정렬 */
    align-items: center; /* 각 그리드 아이템의 수직 중앙 정렬 */
}

.optionButton {
    background: linear-gradient(135deg, #ff6a88, #ff99c8) /* 기본 배경색 */
    border: 1px solid #ccc;
    /* padding: 20px; */
    cursor: pointer;
    color: white;
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 150%;
    width: 100%;  /* 가로 크기를 30%로 설정 */
    height: 100%; /* 세로 크기를 30%로 설정 */
    box-sizing: border-box; /* padding, border 포함하여 크기 계산 */
}

.optionButton.clicked {
    background-color: #4CAF50; /* 클릭된 버튼의 배경색 */
    color: white; /* 클릭된 버튼의 글자색 */
}

.optionButton:disabled {
    background-color: #ddd; /* 비활성화된 버튼 색상 */
    cursor: not-allowed; /* 마우스 커서 변경 */
}