#quizResultContainer {
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 둥근 모서리 */
    padding: 20px; /* 내부 여백 */
    margin-top: 20px; /* 상단 여백 */
    background: linear-gradient(135deg, #ff6a88, #ff99c8); /* 배경색 */
}

#statement {
    font-size: 8.5vw; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    margin-bottom: 10px; /* 하단 여백 */
}

#isCorrect {
    font-size: 10vw; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    margin-bottom: 10px; /* 하단 여백 */
}

#quizAnswer {
    font-size: 10vw; /* 글자 크기 */
    margin: 5px 0; /* 상하 여백 */
}

#myAnswer {
    font-size: 5vw; /* 글자 크기 */
    margin: 5px 0; /* 상하 여백 */
}