<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 로그인 진행중</title>
    <link rel="stylesheet" href="/css/waiting-page/waiting-page.css">
</head>
<body>
<h1>카카오톡 로그인 진행</h1>
<h2>곧 완료되니 잠시만 기다려주세요.</h2>
<h2 id="step1"></h2>
<h2 id="step2"></h2>
<h2 id="step3"></h2>
<div class="loading-container">
    <div class="loader"></div>
</div>

<script src="/js/common/config.js"></script>
<script src="/js/waiting-page/post-kakao-access-token.js"></script>
</body>
</html>
