<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking Quiz</title>
    <link rel="stylesheet" href="/css/home/home.css">
    <link rel="stylesheet" href="/css/home/quiz-button.css">
</head>
<body>
<div class="container">
    <h1>Ranking Quiz</h1>
    <button class="quiz-button" id="quizButton">퀴즈 시작</button>
</div>
<script src="/js/common/config.js"></script>
<script src="/js/home/home.js"></script>
<script src="/js/home/quiz-button.js"></script>
</body>
</html>
